{% load static %}
 <!-- jQuery Min JS -->
    <script src="{% static '' %}js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="{% static '' %}js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="{% static '' %}js/bootstrap.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="{% static '' %}js/jquery.magnific-popup.min.js"></script>
    <!-- Appear Min JS -->
    <script src="{% static '' %}js/jquery.appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="{% static '' %}js/odometer.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="{% static '' %}js/owl.carousel.min.js"></script>
    <!-- MeanMenu JS -->
    <script src="{% static '' %}js/jquery.meanmenu.js"></script>
    <!-- WOW Min JS -->
    <script src="{% static '' %}js/wow.min.js"></script>
    <!-- Message Conversation JS -->
    <script src="{% static '' %}js/conversation.js"></script>
    <!-- AjaxChimp Min JS -->
    <script src="{% static '' %}js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="{% static '' %}js/form-validator.min.js"></script>
    <!-- Contact Form Min JS -->
    <script src="{% static '' %}js/contact-form-script.js"></script>
    <!-- Particles Min JS -->
    <script src="{% static '' %}js/particles.min.js"></script>
    <script src="{% static '' %}js/coustom-particles.js"></script>
    <!-- Main JS -->
    <script src="{% static '' %}js/main.js"></script>