{% load static %}

    <!-- Start Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <a href="index.html"><img src="{% static '' %}img/white-logo.png" alt="image"></a>
                            </div>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>شرکت</h3>

                            <ul class="services-list">
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">خدمات</a></li>
                                <li><a href="#">امکانات</a></li>
                                <li><a href="#">قیمت ها</a></li>
                                <li><a href="#">آخرین اخبار</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>پشتیبانی</h3>

                            <ul class="support-list">
                                <li><a href="#">سوالات متداول</a></li>
                                <li><a href="#">حریم خصوصی</a></li>
                                <li><a href="#">شرایط و ضوابط</a></li>
                                <li><a href="#">انجمن</a></li>
                                <li><a href="#">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>اطلاعات تماس</h3>

                            <ul class="footer-contact-info">
                                <li>موقعیت: <a href="https://goo.gl/maps/MQ78iGP5g9VgZcJ38" target="_blank">کشور شما ، استان و شهر ، محله سکونت شما</a></li>
                                <li>ایمیل: <a href="mailto:hello@spacle.com">hello@spacle.com</a></li>
                                <li>تلفن: <a href="tel:021-12345678">021-12345678</a></li>
                            </ul>
                            <ul class="social">
                                <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="copyright-area">
                    <p>کپی رایت <i class="bx bx-copyright"></i> 1398 استراکس. تمام حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat/?aff=barat" target="_blank">Barat Hadian</a></p>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->