{% extends 'main/shared/base.html' %}
{% load static %}



{% block content %}



        <!-- Start Digital Agency Banner -->
        <section class="digital-agency-banner">
            <div class="container">
                <div class="digital-agency-banner-content">
                    <h1 class="wow fadeInUp">آژانس پیشرو <span>بازاریابی دیجیتال</span> در جهان</h1>
                    <p class="wow fadeInUp">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <a href="contact.html" class="default-btn wow fadeInUp">
                        <i class="bx bxs-hot"></i>شروع کار<span></span>
                    </a>
                </div>
            </div>
        </section>
        <!-- End Digital Agency Banner -->

        <!-- Start Featured Area -->
        <section class="featured-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-featured-box">
                            <img src="{% static '' %}img/marketing-agency/featured-img1.jpg" alt="image">
                            <h3>کمپین های بازاریابی و ایجاد محتوا</h3>
                            <a href="#" class="read-more-btn">ادامه خواندن <i class='bx bx-left-arrow-alt'></i></a>
                            <a href="#" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                        <div class="single-featured-box">
                            <img src="{% static '' %}img/marketing-agency/featured-img2.jpg" alt="image">
                            <h3>کمپین های بازاریابی و ایجاد محتوا</h3>
                            <a href="#" class="read-more-btn">ادامه خواندن <i class='bx bx-left-arrow-alt'></i></a>
                            <a href="#" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-featured-box">
                            <img src="{% static '' %}img/marketing-agency/featured-img3.jpg" alt="image">
                            <h3>کمپین های بازاریابی و ایجاد محتوا</h3>
                            <a href="#" class="read-more-btn">ادامه خواندن <i class='bx bx-left-arrow-alt'></i></a>
                            <a href="#" class="link-btn"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Featured Area -->

        <!-- Start About Area -->
        <div class="about-area">
            <div class="container">
                <div class="section-title text-left">
                    <span class="sub-title">درباره ما</span>
                    <h2>ما یک آژانس استراتژیک بازاریابی دیجیتال هستیم</h2>
                </div>
            </div>

            <div class="container-fluid">
                <div class="about-inner-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="about-inner-image">
                                <img src="{% static '' %}img/marketing-agency/about-image.jpg" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="about-inner-content">
                                <div class="content">
                                    <h2>ما می توانیم استراتژی ایجاد کنیم که تفاوت بزرگی ایجاد کند</h2>
                                    <ul class="features-list">
                                        <li><i class='bx bx-check'></i> راه حل های کامل بازاریابی</li>
                                        <li><i class='bx bx-check'></i> ساعات های کاری قابل انعطاف</li>
                                        <li><i class='bx bx-check'></i> اعضای تیم با تجربه</li>
                                        <li><i class='bx bx-check'></i> تجربه دیجیتال برجسته</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Area -->

        <!-- Start Services Area -->
        <section class="services-area ptb-100">
            <div class="container">
                <div class="section-title text-left">
                    <span class="sub-title">خدمات</span>
                    <h2>بیایید خدمات خود را بررسی کنیم</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-services-box">
                            <div class="row m-0">
                                <div class="col-lg-6 col-md-12 p-0">
                                    <div class="content">
                                        <h3><a href="single-service.html">بازاریابی رسانه اجتماعی</a></h3>
                                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                        <a href="single-service.html" class="read-more-btn">ادامه خواندن <i class='bx bx-left-arrow-alt'></i></a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 p-0">
                                    <div class="image bg-1">
                                        <img src="{% static '' %}img/marketing-agency/services-img1.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                        <div class="single-services-box">
                            <div class="row m-0">
                                <div class="col-lg-6 col-md-12 p-0">
                                    <div class="content">
                                        <h3><a href="single-service.html">بهینه سازی محتوا</a></h3>
                                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                        <a href="single-service.html" class="read-more-btn">ادامه خواندن <i class='bx bx-left-arrow-alt'></i></a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 p-0">
                                    <div class="image bg-2">
                                        <img src="{% static '' %}img/marketing-agency/services-img2.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-services-box">
                            <div class="row m-0">
                                <div class="col-lg-6 col-md-12 p-0">
                                    <div class="content">
                                        <h3><a href="single-service.html">آنالیز پیشرفته</a></h3>
                                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                        <a href="single-service.html" class="read-more-btn">ادامه خواندن <i class='bx bx-left-arrow-alt'></i></a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 p-0">
                                    <div class="image bg-3">
                                        <img src="{% static '' %}img/marketing-agency/services-img3.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
                        <div class="single-services-box">
                            <div class="row m-0">
                                <div class="col-lg-6 col-md-12 p-0">
                                    <div class="content">
                                        <h3><a href="single-service.html">بازاریابی ایمیل</a></h3>
                                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                        <a href="single-service.html" class="read-more-btn">ادامه خواندن <i class='bx bx-left-arrow-alt'></i></a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 p-0">
                                    <div class="image bg-4">
                                        <img src="{% static '' %}img/marketing-agency/services-img4.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay=".6s">
                        <div class="services-btn-box">
                            <a href="services-3.html" class="default-btn">
                                <i class='bx bx-bullseye'></i>مشاهده همه<span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Area -->

        <!-- Start Case Studies Area -->
        <section class="case-studies-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-left">
                    <span class="sub-title">مطالعه موردی</span>
                    <h2>بررسی برخی از آثار و مطالعات اخیر ما</h2>
                </div>
            </div>

            <div class="container-fluid">
                <div class="case-studies-slides owl-carousel owl-theme">
                    <div class="single-case-studies-item">
                        <a href="#" class="image d-block">
                            <img src="{% static '' %}img/case-studies/case-studies-img1.jpg" alt="image">
                        </a>

                        <div class="content">
                            <h3><a href="#">رضایت مشتری برای آژانس بازاریابی دیجیتال</a></h3>
                            <a href="#" class="link-btn"><i class='bx bx-left-arrow-alt'></i></a>
                        </div>
                    </div>

                    <div class="single-case-studies-item">
                        <a href="#" class="image d-block">
                            <img src="{% static '' %}img/case-studies/case-studies-img2.jpg" alt="image">
                        </a>

                        <div class="content">
                            <h3><a href="#">رضایت مشتری برای آژانس بازاریابی دیجیتال</a></h3>
                            <a href="#" class="link-btn"><i class='bx bx-left-arrow-alt'></i></a>
                        </div>
                    </div>

                    <div class="single-case-studies-item">
                        <a href="#" class="image d-block">
                            <img src="{% static '' %}img/case-studies/case-studies-img3.jpg" alt="image">
                        </a>

                        <div class="content">
                            <h3><a href="#">رضایت مشتری برای آژانس بازاریابی دیجیتال</a></h3>
                            <a href="#" class="link-btn"><i class='bx bx-left-arrow-alt'></i></a>
                        </div>
                    </div>

                    <div class="single-case-studies-item">
                        <a href="#" class="image d-block">
                            <img src="{% static '' %}img/case-studies/case-studies-img4.jpg" alt="image">
                        </a>

                        <div class="content">
                            <h3><a href="#">رضایت مشتری برای آژانس بازاریابی دیجیتال</a></h3>
                            <a href="#" class="link-btn"><i class='bx bx-left-arrow-alt'></i></a>
                        </div>
                    </div>

                    <div class="single-case-studies-item">
                        <a href="#" class="image d-block">
                            <img src="{% static '' %}img/case-studies/case-studies-img5.jpg" alt="image">
                        </a>

                        <div class="content">
                            <h3><a href="#">رضایت مشتری برای آژانس بازاریابی دیجیتال</a></h3>
                            <a href="#" class="link-btn"><i class='bx bx-left-arrow-alt'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Case Studies Area -->

        <!-- Start Feedback Area -->
        <section class="feedback-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-title text-left">
                            <span class="sub-title">بازخورد مشتریان</span>
                            <h2>بازخورد مشتریان و نیازهای کاربران</h2>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="testimonials-slides-two owl-carousel owl-theme">
                            <div class="single-testimonials-box">
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>

                                <div class="client-info">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static '' %}img/user1.jpg" alt="image">
                                        <div class="title">
                                            <h3>جان اسمیت</h3>
                                            <span>توسعه دهنده پایتون</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-testimonials-box">
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>

                                <div class="client-info">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static '' %}img/user2.jpg" alt="image">
                                        <div class="title">
                                            <h3>جان اسمیت</h3>
                                            <span>توسعه دهنده پایتون</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-testimonials-box">
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>

                                <div class="client-info">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static '' %}img/user3.jpg" alt="image">
                                        <div class="title">
                                            <h3>جان اسمیت</h3>
                                            <span>توسعه دهنده پایتون</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Feedback Area -->

        <!-- Start Partner Area -->
        <section class="partner-area-two ptb-70 bg-f9f9f9">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-6 col-sm-3 col-md-4 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-partner-box">
                            <img src="{% static '' %}img/partner-image/img1.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-3 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                        <div class="single-partner-box">
                            <img src="{% static '' %}img/partner-image/img2.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-3 col-md-4 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-partner-box">
                            <img src="{% static '' %}img/partner-image/img3.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-3 col-md-4 wow fadeInUp" data-wow-delay=".5s">
                        <div class="single-partner-box">
                            <img src="{% static '' %}img/partner-image/img4.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-3 col-md-4 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-partner-box">
                            <img src="{% static '' %}img/partner-image/img5.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-3 col-md-4 wow fadeInUp" data-wow-delay=".7s">
                        <div class="single-partner-box">
                            <img src="{% static '' %}img/partner-image/img6.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Partner Area -->

        <!-- Start Team Area -->
        <section class="team-area-two pt-100 pb-70">
            <div class="container">
                <div class="section-title text-left">
                    <span class="sub-title">تیم ما</span>
                    <h2>ما برای دستیابی به هدف تجارت شما کمک می کنیم</h2>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="{% static '' %}img/team-image/9.jpg" alt="team-image">

                                <ul class="social-link">
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                </ul>
                            </div>

                            <div class="content">
                                <h3>جیمز اندرسون</h3>
                                <span>سئوکار وب</span>
                                <i class='bx bx-share-alt'></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="{% static '' %}img/team-image/10.jpg" alt="team-image">

                                <ul class="social-link">
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                </ul>
                            </div>

                            <div class="content">
                                <h3>جیمز اندرسون</h3>
                                <span>سئوکار وب</span>
                                <i class='bx bx-share-alt'></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="{% static '' %}img/team-image/11.jpg" alt="team-image">

                                <ul class="social-link">
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                </ul>
                            </div>

                            <div class="content">
                                <h3>جیمز اندرسون</h3>
                                <span>سئوکار وب</span>
                                <i class='bx bx-share-alt'></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-team-member">
                            <div class="image">
                                <img src="{% static '' %}img/team-image/12.jpg" alt="team-image">

                                <ul class="social-link">
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                </ul>
                            </div>

                            <div class="content">
                                <h3>جیمز اندرسون</h3>
                                <span>سئوکار وب</span>
                                <i class='bx bx-share-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Area -->

        <!-- Start Blog Area -->
        <section class="blog-area pt-100 pb-70 bg-f4e9da">
            <div class="container">
                <div class="section-title text-left">
                    <span class="sub-title">اخبار وبلاگ</span>
                    <h2>آخرین اخبار وبلاگ ما</h2>
                </div>

                <div class="blog-slides owl-carousel owl-theme">
                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#" class="d-block">
                                <img src="{% static '' %}img/blog-image/10.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <a href="#" class="category">آموزش</a>
                            <h3><a href="#">پذیرش در دانشگاه می تواند با کنترل اضطراری روبرو شود</a></h3>
                            <ul class="post-content-footer d-flex justify-content-between align-items-center">
                                <li>
                                    <div class="post-author d-flex align-items-center">
                                        <img src="{% static '' %}img/author-image/9.jpg" class="rounded-circle" alt="image">
                                        <span>الکس مورگان</span>
                                    </div>
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i> 30 دی 1398
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#" class="d-block">
                                <img src="{% static '' %}img/blog-image/11.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <a href="#" class="category">سئو</a>
                            <h3><a href="#">پذیرش در دانشگاه می تواند با کنترل اضطراری روبرو شود</a></h3>
                            <ul class="post-content-footer d-flex justify-content-between align-items-center">
                                <li>
                                    <div class="post-author d-flex align-items-center">
                                        <img src="{% static '' %}img/author-image/8.jpg" class="rounded-circle" alt="image">
                                        <span>الکس مورگان</span>
                                    </div>
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i> 30 دی 1398
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#" class="d-block">
                                <img src="{% static '' %}img/blog-image/12.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <a href="#" class="category">تجارت</a>
                            <h3><a href="#">پذیرش در دانشگاه می تواند با کنترل اضطراری روبرو شود</a></h3>
                            <ul class="post-content-footer d-flex justify-content-between align-items-center">
                                <li>
                                    <div class="post-author d-flex align-items-center">
                                        <img src="{% static '' %}img/author-image/7.jpg" class="rounded-circle" alt="image">
                                        <span>الکس مورگان</span>
                                    </div>
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i> 30 دی 1398
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#" class="d-block">
                                <img src="{% static '' %}img/blog-image/13.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <a href="#" class="category">آموزش</a>
                            <h3><a href="#">پذیرش در دانشگاه می تواند با کنترل اضطراری روبرو شود</a></h3>
                            <ul class="post-content-footer d-flex justify-content-between align-items-center">
                                <li>
                                    <div class="post-author d-flex align-items-center">
                                        <img src="{% static '' %}img/author-image/6.jpg" class="rounded-circle" alt="image">
                                        <span>الکس مورگان</span>
                                    </div>
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i> 30 دی 1398
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->

        <!-- Start Company Preview Area -->
        <div class="company-preview-area">
            <div class="container">
                <div class="company-preview-video">
                    <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube"><i class="bx bx-play"></i></a>
                </div>
            </div>
        </div>
        <!-- End Company Preview Area -->

        <!-- Start Let's Talk Area -->
        <section class="lets-talk-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="lets-talk-content">
                            <span class="sub-title wow fadeInUp">گفتگو کنید</span>
                            <h2 class="wow fadeInUp">شروع یک پروژه؟</h2>
                            <p class="wow fadeInUp">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 wow fadeInRight" data-wow-delay=".2s">
                        <div class="lets-talk-btn">
                            <a href="contact.html" class="default-btn">
                                <i class="bx bxs-hot"></i>تماس با ما<span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Let's Talk Area -->

{% endblock %}